body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  width: 100%;
  background: #ffffff;
  height: 80px;
  justify-content: space-between;
}

.nav-title {
  float: left;
  font-size: 60px;
  color: black;
  margin-bottom: -2px;
  padding-bottom: 0;
}



.links {
  float: right;
  justify-content: space-between;
  margin-top: 1.3rem;
  font-size: 25px;
}

.mobile-links {
  display: none;
}


.nav-add {
  float: left;
  margin-right: 1rem;
  /* background: #e6f1f2; */
  height: 35px;
  width: 11rem;
  border-radius: 17px;
  font-weight: 600;
  color: black;
  transition: all 0.2s ease-in-out;
}

.nav-add:hover {
  transition: all 0.2s ease-in-out;
  /* color: white;
  background: #5c787b; */
  font-weight: 100;
}

.nav-profile {
  float: right;
  margin-right: 1rem;
  color: black;
}

.login-container {
  width: 300px;
  margin: auto;
  border-radius: 30px;
  background: white;
  padding: 20px;
  margin-top: 1.5rem;
  padding-bottom: 40px;
  padding-top: 10px;
}

.login-input {
  width: 220px;
  padding: 8px;
  border-top-left-radius: 28px;
	border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
  /* border: grey; */
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 20px;
  padding-left: 20px;
  background-color: #e3e3e3;
  border: #e3e3e3;
}

.login-button-container {
  width: 250px;
  margin: auto;
  font-size: 20px;
  height: 40px;
}

.login-button {
  width: 45%;
  /* background: #5b787b; */
  /* color: white; */
  border-radius: 20px;
  float: left;
  height: 30px;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
}

.login-signup-button {
  width: 45%;
  /* background: #e6f1f2; */
  color: black;
  border-radius: 20px;
  float: right;
  height: 30px;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  transition: all 0.2s ease-in-out;
  /* color: #5b787b; */
  font-weight: 600;
  background: white;
  /* border: 1px solid #5b787b; */
}

.login-signup-button:hover {
  transition: all 0.2s ease-in-out;
  color: #5b787b;
  font-weight: 600;
  background: white;
  /* border: 1px solid #5b787b; */
}

/* styling for cards and container on homepage below */

.recipes-container {
  margin: auto;
  width: 70%;
}

.recipe-card {
  border-radius: 10px;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #ebebeb;
  height: 8rem;
}

.card-title{
  font-size: 26px;
  font-weight: bold;
}
.card-author{
  font-size: 12px;
}

.card-favorites{
  float: right;
  margin: 4px;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-left {
  width: 10rem;
  float: left;
  margin-right: 1rem;
}

.card-right {
  display: inline;
  text-align: left;
}

.card-image {
  margin-top: .5rem;
  height: 9rem;
  width: 9rem;
  object-fit: cover;
}

.card-image-icon {
  margin-top: .5rem;
  font-size: 9rem;
  color: darkslategray;
}

/* styling for cards and container on homepage above */

.signup-button-container {
  width: 250px;
  margin: auto;
  font-size: 20px;
  height: 40px;
}

.signup-button {
  float: none;
  margin: auto;
  font-size: 20px;
}

@media screen and (max-width: 620px){

  .navbar{
    height: 50px;
  }

  .nav-title {
    font-size: 40px;
  }

  /* .nav-logo {
    height: 3.2rem;
    margin-right: .2rem;
  } */


  .links {
    display: none;
    /* font-size: 18px;
    margin-top: 1rem; */
  }

  .mobile-links {
    display: inline-block;
    color: black;
    float: right;
    justify-content: space-between;
    margin-top: .8rem;
    margin-right: 1rem;
    font-size: 25px;
  }

  .nav-add { 
    width: 5rem;
    font-weight: 600;
    margin-right: .8rem;
    padding-bottom: .4rem;
    height: 28px;
  }

  .nav-profile {
    margin-right: .5rem;
  }

  .filter-container {
    margin-top: 3rem;
  }

  .filter-options {
    margin-bottom: -2rem;
  }

}
