body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  width: 100%;
  background: #1f1f1f;
  color: white;
  height: 80px;
  justify-content: space-between;
}

.nav-title {
  float: left;
  font-size: 60px;
  color: white;
  margin-bottom: -2px;
  padding-bottom: 0;
  margin-left: 1rem;
}



.links {
  float: right;
  justify-content: space-between;
  margin-top: 1.3rem;
  font-size: 25px;
}

.mobile-links {
  display: none;
}


.nav-add {
  float: left;
  margin-right: 1rem;
  /* background: #e6f1f2; */
  height: 35px;
  width: 11rem;
  border-radius: 17px;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-add:hover {
  transition: all 0.2s ease-in-out;
  /* color: white;
  background: #5c787b; */
  font-weight: 100;
}

.nav-profile {
  float: right;
  margin-right: 1rem;
  color: white;
}

.profile-user-container {
  display: inline-block;
}

.login-container {
  width: 300px;
  margin: auto;
  border-radius: 30px;
  background: white;
  padding: 20px;
  margin-top: 1.5rem;
  padding-bottom: 40px;
  padding-top: 10px;
}

.login-input {
  width: 220px;
  padding: 8px;
  border-top-left-radius: 28px;
	border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
  /* border: grey; */
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 20px;
  padding-left: 20px;
  background-color: #e3e3e3;
  border: #e3e3e3;
}


.login-button-container {
  width: 250px;
  margin: auto;
  font-size: 20px;
  height: 40px;
}

.login-button {
  width: 45%;
  /* background: #5b787b; */
  /* color: white; */
  border-radius: 20px;
  float: left;
  height: 30px;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
}

.login-signup-button {
  width: 45%;
  /* background: #e6f1f2; */
  color: black;
  border-radius: 20px;
  float: right;
  height: 30px;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  transition: all 0.2s ease-in-out;
  /* color: #5b787b; */
  font-weight: 600;
  background: white;
  /* border: 1px solid #5b787b; */
}

.login-signup-button:hover {
  transition: all 0.2s ease-in-out;
  color: #5b787b;
  font-weight: 600;
  background: white;
  /* border: 1px solid #5b787b; */
}

.logout {
  margin: auto;
  font-size: 23px;
  background: #ebebeb;
  height: 35px;
  width: 8rem;
  border-radius: 17px;
  font-weight: 200;
  color: black;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.logout:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  background: #1f1f1f;
  font-weight: 600;
}

/* styling for form below */
.form {
  width: 600px;
  margin: auto;
  border-radius: 30px;
  background: white;
  padding: 20px;
  margin-top: 1.5rem;
  padding-bottom: 40px;
  padding-top: 10px;
}

.form-label {
  float: left;
  margin-left: 20%;
}

.form-list {
  list-style-type: none;
}

.form-input {
  width: 220px;
  padding: 8px;
  border-top-left-radius: 28px;
	border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
  /* border: grey; */
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 20px;
  padding-left: 20px;
  background-color: #e3e3e3;
  border: #e3e3e3;
}

.form-button {
  width: 8rem;
  background: #e3e3e3;
  margin: auto;
  padding: .8rem;
  border-radius: 20px;
  font-weight: 600;
}

.form-input.name{
  margin-right: 10px;
}
.form-input.ingredient{
  width: 80px;
  padding-left: 10px;
  margin-right: 25px;
}

.form-input.ingredient.name{
  width: 120px;
}

.form-textarea{
  width: 280px;
  height: 2rem;
  border: 2px solid #e3e3e3;
  margin-top: 5px;
  margin-right: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.ingredient-remove{
  margin-top: -5px;
}

.form-image {
  font-size: 20px;
}
/* styling for form above */

/* styling for comments below */
.comment-container {
  width: 400px;
  background: #e3e3e3;
  margin: auto;
  margin-bottom: 12px;
  border-radius: 15px;
  padding: 3px;
  text-align: left;
  height: 3.5rem;
}

.comment-container div {
  margin-left: 1rem;
}

.comment-engage {
  width: 3rem;
  float: right;
  margin-right: .5rem;
}

.errors-container {
  margin: auto;
  color: red;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 1rem;
}
/* styling for comments above */

/* styling for cards and container on homepage below */

.dropbtn {
  background-color: #1f1f1f;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 4rem;
  height: 2.3rem;
  border: 1px solid #5b787b;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 2rem;
  margin-top: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 2rem;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

.recipes-container {
  margin: auto;
  width: 70%;
  margin-top: 4rem;
}

.recipe-card {
  border-radius: 10px;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #ebebeb;
  height: 8rem;
}

.card-title{
  font-size: 26px;
  font-weight: bold;
}
.card-author{
  font-size: 12px;
}

.card-favorites{
  float: right;
  margin: 4px;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-left {
  width: 10rem;
  float: left;
  margin-right: 1rem;
}

.card-right {
  display: inline;
  text-align: left;
}

.card-image {
  margin-top: .5rem;
  height: 9rem;
  width: 9rem;
  object-fit: cover;
}

.card-image-icon {
  margin-top: .5rem;
  font-size: 9rem;
  color: #1f1f1f;
}



/* styling for cards and container on homepage above */
/* styling for recipe page below*/
.recipe-page{
  padding-left: 7rem;
}

.recipe-page-top-left {
  width: 50%;
  float: left;
  text-align: left;
}

.recipe-page-title{
  font-size: 32px;
  font-weight: 600;
  padding-top: 1rem;
}

.recipe-page-author{
  font-size: 14px;
  padding: 10px;
}

.recipe-page-top-right {
  width: 50%;
  float: right;
  text-align: left;
  padding-top: 1rem;
}

.recipe-ingredients-title {
  text-align: left;
  margin-left: 3rem;
}

.recipe-page-middle{
  text-align: left;
}

.recipe-steps-container {
  display: inline-block;
  text-align: left;
}

.recipe-steps-container li {
  margin-top: 1rem;
}

.recipe-page-image {
  width: 430px;
}

.recipe-page-engage {
  width: 8rem;
  background: #ebebeb;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.recipe-page-engage:hover {
  background: #1f1f1f;
  color: white;
  transition: all 0.2s ease-in-out;
}

.submit {
  margin-bottom: 3rem;
}

.comment-input {
  width: 20rem;
  height: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans'
}






/*styling for recipe page above*/

.signup-button-container {
  width: 250px;
  margin: auto;
  font-size: 20px;
  height: 40px;
}

.signup-button {
  float: none;
  margin: auto;
  font-size: 20px;
}

@media screen and (max-width: 1000px){
  .recipe-page {
    padding-left: .5rem;
    text-align: center;
    display: inline-block;
  }


  .recipe-page div {
    width: 100%;
  }

}

@media screen and (max-width: 620px){

  .navbar{
    height: 50px;
  }

  .nav-title {
    font-size: 40px;
  }

 

  .recipe-page img {
    width: 360px;
  }

  .comment-engage {
    width: 5rem;
    float: right;
    text-align: right;
    margin-right: 1.5rem;
  }


  .comment-container {
    width: 340px;
    text-align: left;
 
  }

  .form-input {
    width: 180px;
    font-size: 16px;
  }

  .form-textarea{
    width: 180px;
    height: 2rem;
    border: 2px solid #e3e3e3;
    margin-top: 5px;
    margin-right: 1rem;
    margin-left: 0px;
  }


  .form{
    width: 380px;
    padding: 0px;
  }

  .recipe-card {
    padding-bottom: 2.5rem;
  }

  .card-title {
    font-size: 20px;
  }
  .card-ingredients {
    display: none;
  }

  .links {
    display: none;
    /* font-size: 18px;
    margin-top: 1rem; */
  }

  .mobile-links {
    display: inline-block;
    color: black;
    float: right;
    justify-content: space-between;
    margin-top: .8rem;
    margin-right: 1rem;
    font-size: 25px;
  }

  .nav-add { 
    width: 5rem;
    font-weight: 600;
    margin-right: .8rem;
    padding-bottom: .4rem;
    height: 28px;
  }

  .nav-profile {
    margin-right: .5rem;
  }

  .filter-container {
    margin-top: 3rem;
  }

  .filter-options {
    margin-bottom: -2rem;
  }

}
